<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <ng-container *ngFor="let source of sources">
              <li><a class="dropdown-item" href="#" (click)="searchSource(source.name)">{{source.name}}</a></li>
            </ng-container>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" (ngSubmit)="searchSource(searchQuery)">
        <input #box class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1>{{selectedNewsChannel | uppercase}} Trending News!</h1>
<div *ngFor="let article of articles" class="article">
  <div class="box">
    <h2>{{ article.title }}</h2>
    <img [src]="article.urlToImage" alt="Article Image" width="250px" height="200px">
    <p><strong>Author:</strong> {{ article.author }}</p>
    <p><strong>Published At:</strong> {{ article.publishedAt | date:'medium' }}</p>
    <p><strong>Description:</strong> {{ article.description }}</p>
    <span><a [href]="article.url" target="_blank">Read more</a></span>
  </div>
</div>
